<table>
  <tr>
    <td>Name:</td>
    <td><%= @cat.name %></td>
  </tr>
  <tr>
    <td>Birth Date:</td>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr>
    <td>Color:</td>
    <td><%= @cat.color %></td>
  </tr>
  <tr>
    <td>Sex:</td>
    <td><%= @cat.sex %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @cat.description %></td>
  </tr>
</table>
<h3>Current Rentals:</h3>
<table>
  <tr>
    <td>Start Date:</td>
    <td>End Date:</td>
  </tr>
  <% @rentals.each do |rental| %>
  <tr>
    <td><%= rental.start_date %></td>
    <td><%= rental.end_date %></td>
    <td><%= button_to "Approve Rental", approve_cat_rental_request_url(id: rental.id) %></td>
    <td><%= button_to "Deny Rental", deny_cat_rental_request_url(id: rental.id) %></td>
  </tr>
    <% end %>
</table>
